.me-auto{
    padding:inherits;
    a {
        color:#fff;
        text-decoration: none;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        &:hover {
            color:#eee;

            
        }
    }
}